extends layout

block content
    div(id="container", style="padding-bottom:45%;")
        include mixins/img-bg
            div(class="row" style="max-width: 100%; ")
                    div(class="col-sm", align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Servicio a Butaca
                                br
                                a.btn.btn-primary.btn-lg(href="/ServicioButaca", id="buttons") Acceder
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Combos
                                br
                                a.btn.btn-primary.btn-lg(href="/Combos", id="buttons") Acceder
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Productos
                                br
                                a.btn.btn-primary.btn-lg(href="/Productos", id="buttons") Acceder     