extends layout

block content
    div(id="container", style="padding-bottom:45%;")
            div(class="row" style="max-width: 100%; ")
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Gestionar Funciones
                                br
                                a.btn.btn-primary.btn-lg(href="/GFunciones", id="buttons") Acceder
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Gestionar Mantenimiento
                                br
                                a.btn.btn-primary.btn-lg(href="/GMantenimiento", id="buttons") Acceder     