extends layout

block content

    div(id="container", style="padding-bottom:20%;")
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",  viewBox="0 0 1200 800",  xml:space="preserve", preserveAspectRatio="xMinYMin meet", class="svg-content")
            g(id="Layer_3")
                polygon(class="triangle", fill="#4C72B8", stroke="#4C72B8", stroke-width="2.3973", stroke-linejoin="round", stroke-miterlimit="1", points="1454.615,764.603 1260.432,508.089 1147.758,901.249  ")
                polygon(class="triangle", fill="#4C75BA", stroke="#4C75BA", stroke-width="2.3973", stroke-linejoin="round", stroke-miterlimit="1", points="1454.615,764.603 1147.758,901.249 1308.378,937.211  ")
                polygon(class="triangle", fill="#4F71B7", stroke="#4F71B7", stroke-width="2.3973", stroke-linejoin="round", stroke-miterlimit="1", points="1260.432,508.089 1107.002,541.65 1147.758,901.249   ")
                polygon(class="triangle" fill="#5375B9" stroke="#5375B9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="1147.758,901.249 1107.002,541.65 1008.711,704.668   ")
                polygon(class="triangle" fill="#484C86" stroke="#484C86" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points=" 1279.61,83.761 1123.784,-249.467 1032.686,-110.422  ")
                polygon(class="triangle" fill="#49508D" stroke="#49508D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="        1279.61,83.761 1032.686,-110.422 1128.578,102.94  ")
                polygon(class="triangle" fill="#4E508E" stroke="#4E508E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="         1128.578,102.94 1032.686,-110.422 1037.479,35.815   ")
                polygon(class="triangle" fill="#4661AD" stroke="#4661AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="        1301.187,342.672 1109.401,395.414 1279.61,486.512   ")
                polygon(class="triangle" fill="#495FAB" stroke="#495FAB" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="       1301.187,342.672 1109.401,369.043 1109.401,395.414  ")
                polygon(class="triangle" fill="#455494" stroke="#455494" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1291.598,114.926 1128.578,102.94 1265.227,237.19  ")
                polygon(class="triangle" fill="#465CA5" stroke="#465CA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="     1301.187,342.672 1265.227,289.932 1109.401,369.043  ")
                polygon(class="triangle" fill="#4965AF" stroke="#4965AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1279.61,486.512 1109.401,395.414 1260.432,508.089   ")
                polygon(class="triangle" fill="#465290" stroke="#465290" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1291.598,114.926 1279.61,83.761 1128.578,102.94   ")
                polygon(class="triangle" fill="#4B67B0" stroke="#4B67B0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1260.432,508.089 1109.401,395.414 1107.002,541.65   ")
                polygon(class="triangle" fill="#4B579B" stroke="#4B579B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1265.227,237.19 1128.578,102.94 1035.083,270.753  ")
                polygon(class="triangle" fill="#4A5BA4" stroke="#4A5BA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1265.227,237.19 1035.083,270.753 1109.401,369.043   ")
                polygon(class="triangle" fill="#4759A1" stroke="#4759A1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1265.227,289.932 1265.227,237.19 1109.401,369.043   ")
                polygon(class="triangle" fill="#4E67B0" stroke="#4E67B0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1109.401,395.414 1090.222,529.664 1107.002,541.65   ")
                polygon(class="triangle" fill="#5479BC" stroke="#5479BC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1147.758,901.249 1008.711,704.668 1102.208,925.224  ")
                polygon(class="triangle" fill="#52579C" stroke="#52579C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1128.578,102.94 967.957,196.436 1035.083,270.753  ")
                polygon(class="triangle" fill="#5066AF" stroke="#5066AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1109.401,395.414 1015.903,469.731 1090.222,529.664  ")
                polygon(class="triangle" fill="#505DA9" stroke="#505DA9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="              1109.401,369.043 1035.083,270.753 1027.891,323.494  ")
                polygon(class="triangle" fill="#526DB4" stroke="#526DB4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1107.002,541.65 1023.096,532.062 1008.711,704.668   ")
                polygon(class="triangle" fill="#5274B9" stroke="#5274B9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1102.208,925.224 1008.711,704.668 879.257,783.782   ")
                polygon(class="triangle" fill="#5163AD" stroke="#5163AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1109.401,395.414 1075.838,385.825 1015.903,469.731  ")
                polygon(class="triangle" fill="#515495" stroke="#515495" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1128.578,102.94 1037.479,35.815 967.957,196.436   ")
                polygon(class="triangle" fill="#506AB2" stroke="#506AB2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1107.002,541.65 1090.222,529.664 1023.096,532.062   ")
                polygon(class="triangle" fill="#505FAB" stroke="#505FAB" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1109.401,369.043 1027.891,323.494 1075.838,385.825  ")
                polygon(class="triangle" fill="#4E60AC" stroke="#4E60AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1109.401,369.043 1075.838,385.825 1109.401,395.414  ")
                polygon(class="triangle" fill="#5172B7" stroke="#5172B7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1102.208,925.224 879.257,783.782 860.078,965.979  ")
                polygon(class="triangle" fill="#5363AD" stroke="#5363AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1075.838,385.825 1006.314,414.593 1015.903,469.731  ")
                polygon(class="triangle" fill="#5169B1" stroke="#5169B1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1090.222,529.664 1015.903,469.731 1023.096,532.062  ")
                polygon(class="triangle" fill="#536EB5" stroke="#536EB5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1023.096,532.062 941.587,673.504 1008.711,704.668   ")
                polygon(class="triangle" fill="#5160AC" stroke="#5160AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1075.838,385.825 1027.891,323.494 1006.314,414.593  ")
                polygon(class="triangle" fill="#595596" stroke="#595596" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1037.479,35.815 807.336,102.94 967.957,196.436  ")
                polygon(class="triangle" fill="#5B5192" stroke="#5B5192" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1037.479,35.815 840.899,-31.311 807.336,102.94  ")
                polygon(class="triangle" fill="#534F8D" stroke="#534F8D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1037.479,35.815 1032.686,-110.422 840.899,-31.311   ")
                polygon(class="triangle" fill="#555BA4" stroke="#555BA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1035.083,270.753 922.409,220.409 1027.891,323.494   ")
                polygon(class="triangle" fill="#57599F" stroke="#57599F" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1035.083,270.753 967.957,196.436 922.409,220.409  ")
                polygon(class="triangle" fill="#566BB2" stroke="#566BB2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1023.096,532.062 836.104,577.61 941.587,673.504   ")
                polygon(class="triangle" fill="#5566AF" stroke="#5566AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1023.096,532.062 1015.903,469.731 941.587,457.744   ")
                polygon(class="triangle" fill="#5760AB" stroke="#5760AB" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1027.891,323.494 867.27,357.056 1006.314,414.593  ")
                polygon(class="triangle" fill="#5A5CA7" stroke="#5A5CA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1027.891,323.494 922.409,220.409 867.27,357.056   ")
                polygon(class="triangle" fill="#5564AE" stroke="#5564AE" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1015.903,469.731 1006.314,414.593 941.587,457.744   ")
                polygon(class="triangle" fill="#5766AF" stroke="#5766AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1023.096,532.062 941.587,457.744 920.011,457.744  ")
                polygon(class="triangle" fill="#5867AF" stroke="#5867AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1023.096,532.062 920.011,457.744 836.104,577.61   ")
                polygon(class="triangle" fill="#5961AC" stroke="#5961AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1006.314,414.593 867.27,357.056 905.627,438.565   ")
                polygon(class="triangle" fill="#546FB5" stroke="#546FB5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1008.711,704.668 941.587,673.504 879.257,783.782  ")
                polygon(class="triangle" fill="#5863AD" stroke="#5863AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                1006.314,414.593 905.627,438.565 941.587,457.744  ")
                polygon(class="triangle" fill="#526DB4" stroke="#526DB4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,783.782 840.899,805.356 860.078,965.979   ")
                polygon(class="triangle" fill="#5E579C" stroke="#5E579C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                967.957,196.436 807.336,102.94 922.409,220.409  ")
                polygon(class="triangle" fill="#4F6BB3" stroke="#4F6BB3" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                860.078,965.979 840.899,805.356 850.488,961.184   ")
                polygon(class="triangle" fill="#5C65AE" stroke="#5C65AE" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                920.011,457.744 879.257,457.744 836.104,577.61  ")
                polygon(class="triangle" fill="#625294" stroke="#625294" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                840.899,-31.311 797.747,2.252 807.336,102.94  ")
                polygon(class="triangle" fill="#5869B1" stroke="#5869B1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                941.587,673.504 836.104,577.61 812.131,668.708  ")
                polygon(class="triangle" fill="#556DB4" stroke="#556DB4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                941.587,673.504 814.528,726.244 879.257,783.782   ")
                polygon(class="triangle" fill="#576BB2" stroke="#576BB2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                941.587,673.504 812.131,668.708 814.528,726.244   ")
                polygon(class="triangle" fill="#5A63AD" stroke="#5A63AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                941.587,457.744 905.627,438.565 920.011,457.744   ")
                polygon(class="triangle" fill="#655BA7" stroke="#655BA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                922.409,220.409 713.841,282.74 867.27,357.056   ")
                polygon(class="triangle" fill="#6759A0" stroke="#6759A0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                922.409,220.409 807.336,102.94 713.841,282.74   ")
                polygon(class="triangle" fill="#5B63AD" stroke="#5B63AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                920.011,457.744 905.627,438.565 879.257,457.744   ")
                polygon(class="triangle" fill="#5D61AC" stroke="#5D61AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                905.627,438.565 867.27,357.056 879.257,457.744  ")
                polygon(class="triangle" fill="#556CB3" stroke="#556CB3" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,783.782 814.528,726.244 826.515,778.986   ")
                polygon(class="triangle" fill="#665396" stroke="#665396" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                807.336,102.94 797.747,2.252 773.773,40.609   ")
                polygon(class="triangle" fill="#5069B2" stroke="#5069B2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                850.488,961.184 840.899,805.356 730.622,918.031   ")
                polygon(class="triangle" fill="#6760AA" stroke="#6760AA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,457.744 867.27,357.056 656.305,438.565  ")
                polygon(class="triangle" fill="#6263AD" stroke="#6263AD" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,457.744 670.689,527.267 836.104,577.61  ")
                polygon(class="triangle" fill="#6B61AB" stroke="#6B61AB" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,457.744 656.305,438.565 670.689,527.267   ")
                polygon(class="triangle" fill="#536CB3" stroke="#536CB3" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                879.257,783.782 826.515,778.986 840.899,805.356   ")
                polygon(class="triangle" fill="#6F5EA9" stroke="#6F5EA9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                867.27,357.056 713.841,282.74 656.305,438.565   ")
                polygon(class="triangle" fill="#6D589D" stroke="#6D589D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                807.336,102.94 785.761,95.748 713.841,282.74  ")
                polygon(class="triangle" fill="#5968B0" stroke="#5968B0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                814.528,726.244 812.131,668.708 797.747,695.08  ")
                polygon(class="triangle" fill="#675597" stroke="#675597" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                807.336,102.94 773.773,40.609 785.761,95.748  ")
                polygon(class="triangle" fill="#5369B2" stroke="#5369B2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                840.899,805.356 826.515,778.986 730.622,918.031   ")
                polygon(class="triangle" fill="#5F5190" stroke="#5F5190" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                840.899,-31.311 840.899,-48.091 797.747,2.252   ")
                polygon(class="triangle" fill="#615190" stroke="#615190" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                840.899,-48.091 749.801,-64.873 797.747,2.252   ")
                polygon(class="triangle" fill="#6065AE" stroke="#6065AE" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                836.104,577.61 670.689,527.267 812.131,668.708  ")
                polygon(class="triangle" fill="#6662AC" stroke="#6662AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                812.131,668.708 670.689,527.267 634.729,580.008   ")
                polygon(class="triangle" fill="#5866AF" stroke="#5866AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                826.515,778.986 814.528,726.244 613.152,752.615   ")
                polygon(class="triangle" fill="#5665AE" stroke="#5665AE" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                826.515,778.986 613.152,752.615 730.622,918.031   ")
                polygon(class="triangle" fill="#5B66AF" stroke="#5B66AF" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                814.528,726.244 797.747,695.08 613.152,752.615  ")
                polygon(class="triangle" fill="#5E65AE" stroke="#5E65AE" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                812.131,668.708 634.729,580.008 797.747,695.08  ")
                polygon(class="triangle" fill="#795AA1" stroke="#795AA1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                785.761,95.748 598.769,246.78 713.841,282.74  ")
                polygon(class="triangle" fill="#79569B" stroke="#79569B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                785.761,95.748 613.152,50.199 572.398,100.542   ")
                polygon(class="triangle" fill="#7F59A0" stroke="#7F59A0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                785.761,95.748 572.398,100.542 598.769,246.78   ")
                polygon(class="triangle" fill="#6362AC" stroke="#6362AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                797.747,695.08 634.729,580.008 610.756,695.08   ")
                polygon(class="triangle" fill="#5D62AC" stroke="#5D62AC" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                797.747,695.08 610.756,695.08 613.152,752.615   ")
                polygon(class="triangle" fill="#675394" stroke="#675394" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                797.747,2.252 718.636,-0.145 773.773,40.609   ")
                polygon(class="triangle" fill="#665192" stroke="#665192" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                797.747,2.252 749.801,-64.873 718.636,-0.145  ")
                polygon(class="triangle" fill="#5560AB" stroke="#5560AB" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                730.622,918.031 613.152,752.615 593.974,865.289   ")
                polygon(class="triangle" fill="#6F5598" stroke="#6F5598" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                785.761,95.748 773.773,40.609 613.152,50.199  ")
                polygon(class="triangle" fill="#6F5498" stroke="#6F5498" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                773.773,40.609 718.636,-0.145 613.152,50.199  ")
                polygon(class="triangle" fill="#685191" stroke="#685191" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                749.801,-64.873 692.265,-60.079 718.636,-0.145  ")
                polygon(class="triangle" fill="#815EA8" stroke="#815EA8" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                713.841,282.74 567.604,301.918 656.305,438.565  ")
                polygon(class="triangle" fill="#705394" stroke="#705394" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="               718.636,-0.145 692.265,-60.079 613.152,50.199   ")
                polygon(class="triangle" fill="#875DA7" stroke="#875DA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                713.841,282.74 598.769,246.78 567.604,301.918   ")
                polygon(class="triangle" fill="#6A5FAA" stroke="#6A5FAA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                634.729,580.008 581.988,632.75 610.756,695.08   ")
                polygon(class="triangle" fill="#7560AA" stroke="#7560AA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                670.689,527.267 656.305,438.565 617.947,479.319   ")
                polygon(class="triangle" fill="#765395" stroke="#765395" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                692.265,-60.079 526.849,-67.271 613.152,50.199  ")
                polygon(class="triangle" fill="#7160AA" stroke="#7160AA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                670.689,527.267 617.947,479.319 634.729,580.008   ")
                polygon(class="triangle" fill="#825FA9" stroke="#825FA9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                656.305,438.565 567.604,301.918 617.947,479.319   ")
                polygon(class="triangle" fill="#5A5EAA" stroke="#5A5EAA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                613.152,752.615 534.041,790.973 593.974,865.289   ")
                polygon(class="triangle" fill="#8F5FA7" stroke="#8F5FA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                617.947,479.319 567.604,301.918 433.353,440.963   ")
                polygon(class="triangle" fill="#745FA9" stroke="#745FA9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                634.729,580.008 617.947,479.319 546.027,587.2   ")
                polygon(class="triangle" fill="#945CA6" stroke="#945CA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                598.769,246.78 572.398,100.542 505.273,234.792  ")
                polygon(class="triangle" fill="#6F5FA9" stroke="#6F5FA9" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                634.729,580.008 546.027,587.2 581.988,632.75  ")
                polygon(class="triangle" fill="#83559A" stroke="#83559A" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="            613.152,50.199 526.849,-67.271 488.492,35.815   ")
                polygon(class="triangle" fill="#605EAA" stroke="#605EAA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                613.152,752.615 610.756,695.08 534.041,790.973  ")
                polygon(class="triangle" fill="#825EA8" stroke="#825EA8" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                617.947,479.319 433.353,440.963 546.027,587.2   ")
                polygon(class="triangle" fill="#88579E" stroke="#88579E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="               613.152,50.199 488.492,35.815 572.398,100.542   ")
                polygon(class="triangle" fill="#645EAA" stroke="#645EAA" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                610.756,695.08 581.988,632.75 534.041,790.973   ")
                polygon(class="triangle" fill="#A060A7" stroke="#A060A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                567.604,301.918 483.697,289.932 433.353,440.963   ")
                polygon(class="triangle" fill="#695CA8" stroke="#695CA8" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                581.988,632.75 447.737,639.94 534.041,790.973   ")
                polygon(class="triangle" fill="#965EA6" stroke="#965EA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                598.769,246.78 505.273,234.792 567.604,301.918  ")
                polygon(class="triangle" fill="#595BA4" stroke="#595BA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                593.974,865.289 534.041,790.973 435.751,915.635   ")
                polygon(class="triangle" fill="#665AA4" stroke="#665AA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                534.041,790.973 447.737,639.94 435.751,766.999  ")
                polygon(class="triangle" fill="#9F5DA5" stroke="#9F5DA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                572.398,100.542 428.559,153.284 505.273,234.792   ")
                polygon(class="triangle" fill="#725DA8" stroke="#725DA8" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                581.988,632.75 546.027,587.2 447.737,639.94   ")
                polygon(class="triangle" fill="#A05FA6" stroke="#A05FA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                567.604,301.918 505.273,234.792 483.697,289.932   ")
                polygon(class="triangle" fill="#985AA2" stroke="#985AA2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                572.398,100.542 488.492,35.815 428.559,153.284  ")
                polygon(class="triangle" fill="#5D59A1" stroke="#5D59A1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                534.041,790.973 435.751,766.999 435.751,915.635   ")
                polygon(class="triangle" fill="#7F5DA7" stroke="#7F5DA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                546.027,587.2 433.353,440.963 447.737,639.94  ")
                polygon(class="triangle" fill="#AB61A7" stroke="#AB61A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                483.697,289.932 409.38,299.521 433.353,440.963  ")
                polygon(class="triangle" fill="#805396" stroke="#805396" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                526.849,-67.271 435.751,-120.011 488.492,35.815   ")
                polygon(class="triangle" fill="#855DA7" stroke="#855DA7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                447.737,639.94 433.353,440.963 325.474,584.803  ")
                polygon(class="triangle" fill="#B060A6" stroke="#B060A6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                505.273,234.792 428.559,153.284 373.42,191.641  ")
                polygon(class="triangle" fill="#AC62A7" stroke="#AC62A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                505.273,234.792 409.38,299.521 483.697,289.932  ")
                polygon(class="triangle" fill="#B362A7" stroke="#B362A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                505.273,234.792 373.42,191.641 409.38,299.521   ")
                polygon(class="triangle" fill="#905CA6" stroke="#905CA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                433.353,440.963 311.09,498.499 325.474,584.803  ")
                polygon(class="triangle" fill="#AC62A7" stroke="#AC62A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                433.353,440.963 409.38,299.521 359.037,364.249  ")
                polygon(class="triangle" fill="#875398" stroke="#875398" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                488.492,35.815 435.751,-120.011 265.541,-50.489   ")
                polygon(class="triangle" fill="#98579E" stroke="#98579E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                488.492,35.815 265.541,-50.489 366.229,107.734  ")
                polygon(class="triangle" fill="#A25BA4" stroke="#A25BA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                488.492,35.815 366.229,107.734 428.559,153.284  ")
                polygon(class="triangle" fill="#6F59A2" stroke="#6F59A2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                447.737,639.94 342.255,659.12 435.751,766.999   ")
                polygon(class="triangle" fill="#A860A7" stroke="#A860A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                433.353,440.963 359.037,364.249 356.639,402.606   ")
                polygon(class="triangle" fill="#5A569B" stroke="#5A569B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                435.751,766.999 363.831,942.004 435.751,915.635   ")
                polygon(class="triangle" fill="#B463A7" stroke="#B463A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                409.38,299.521 356.639,345.07 359.037,364.249   ")
                polygon(class="triangle" fill="#7859A1" stroke="#7859A1" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                447.737,639.94 325.474,584.803 342.255,659.12   ")
                polygon(class="triangle" fill="#6F579F" stroke="#6F579F" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                435.751,766.999 342.255,659.12 323.076,671.106  ")
                polygon(class="triangle" fill="#9E5EA6" stroke="#9E5EA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                433.353,440.963 356.639,402.606 311.09,498.499  ")
                polygon(class="triangle" fill="#5F5497" stroke="#5F5497" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                435.751,766.999 174.442,771.795 363.831,942.004   ")
                polygon(class="triangle" fill="#69559B" stroke="#69559B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                435.751,766.999 323.076,671.106 174.442,771.795   ")
                polygon(class="triangle" fill="#585191" stroke="#585191" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                363.831,942.004 174.442,771.795 251.156,953.991   ")
                polygon(class="triangle" fill="#B15EA5" stroke="#B15EA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                428.559,153.284 366.229,107.734 373.42,191.641  ")
                polygon(class="triangle" fill="#BD63A7" stroke="#BD63A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                409.38,299.521 373.42,191.641 272.732,263.562   ")
                polygon(class="triangle" fill="#BA63A7" stroke="#BA63A7" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                409.38,299.521 272.732,263.562 356.639,345.07   ")
                polygon(class="triangle" fill="#BD62A6" stroke="#BD62A6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                373.42,191.641 272.732,206.024 272.732,263.562  ")
                polygon(class="triangle" fill="#B660A5" stroke="#B660A5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                373.42,191.641 366.229,107.734 277.528,186.846  ")
                polygon(class="triangle" fill="#7A589F" stroke="#7A589F" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                342.255,659.12 325.474,584.803 303.898,627.954  ")
                polygon(class="triangle" fill="#96559C" stroke="#96559C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                366.229,107.734 265.541,-50.489 184.032,-4.94   ")
                polygon(class="triangle" fill="#A559A3" stroke="#A559A3" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                366.229,107.734 184.032,-4.94 255.951,167.667   ")
                polygon(class="triangle" fill="#BB61A6" stroke="#BB61A6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                373.42,191.641 277.528,186.846 272.732,206.024  ")
                polygon(class="triangle" fill="#B55EA5" stroke="#B55EA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                366.229,107.734 255.951,167.667 277.528,186.846   ")
                polygon(class="triangle" fill="#AA5FA6" stroke="#AA5FA6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                359.037,364.249 191.224,421.785 356.639,402.606   ")
                polygon(class="triangle" fill="#AF60A6" stroke="#AF60A6" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                359.037,364.249 356.639,345.07 191.224,421.785  ")
                polygon(class="triangle" fill="#B35FA5" stroke="#B35FA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                356.639,345.07 272.732,263.562 191.224,421.785  ")
                polygon(class="triangle" fill="#9F5CA5" stroke="#9F5CA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                356.639,402.606 191.224,421.785 311.09,498.499  ")
                polygon(class="triangle" fill="#75579E" stroke="#75579E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                342.255,659.12 303.898,627.954 323.076,671.106  ")
                polygon(class="triangle" fill="#6F5599" stroke="#6F5599" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                323.076,671.106 303.898,627.954 174.442,771.795   ")
                polygon(class="triangle" fill="#8558A0" stroke="#8558A0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                325.474,584.803 311.09,498.499 136.084,594.393  ")
                polygon(class="triangle" fill="#7C569D" stroke="#7C569D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                325.474,584.803 136.084,594.393 303.898,627.954   ")
                polygon(class="triangle" fill="#A558A2" stroke="#A558A2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                255.951,167.667 184.032,-4.94 212.799,170.065   ")
                polygon(class="triangle" fill="#6A5295" stroke="#6A5295" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                303.898,627.954 148.071,755.014 174.442,771.795   ")
                polygon(class="triangle" fill="#6E5397" stroke="#6E5397" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                303.898,627.954 109.714,663.914 148.071,755.014   ")
                polygon(class="triangle" fill="#755399" stroke="#755399" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                303.898,627.954 136.084,594.393 109.714,663.914   ")
                polygon(class="triangle" fill="#8D59A0" stroke="#8D59A0" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                311.09,498.499 191.224,421.785 136.084,594.393  ")
                polygon(class="triangle" fill="#98559D" stroke="#98559D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                212.799,170.065 184.032,-4.94 126.496,71.775  ")
                polygon(class="triangle" fill="#AF5DA5" stroke="#AF5DA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                272.732,263.562 179.236,246.78 191.224,421.785  ")
                polygon(class="triangle" fill="#B75EA5" stroke="#B75EA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                272.732,263.562 272.732,206.024 179.236,246.78  ")
                polygon(class="triangle" fill="#B75EA5" stroke="#B75EA5" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                277.528,186.846 255.951,167.667 272.732,206.024   ")
                polygon(class="triangle" fill="#584E8E" stroke="#584E8E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                251.156,953.991 174.442,771.795 80.946,953.991  ")
                polygon(class="triangle" fill="#B25CA4" stroke="#B25CA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                272.732,206.024 212.799,170.065 179.236,246.78  ")
                polygon(class="triangle" fill="#B35DA4" stroke="#B35DA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                272.732,206.024 255.951,167.667 212.799,170.065   ")
                polygon(class="triangle" fill="#A55AA4" stroke="#A55AA4" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                191.224,421.785 179.236,246.78 116.906,253.972  ")
                polygon(class="triangle" fill="#584C8B" stroke="#584C8B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                174.442,771.795 13.821,886.865 80.946,953.991   ")
                polygon(class="triangle" fill="#87549C" stroke="#87549C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                191.224,421.785 44.986,438.565 136.084,594.393  ")
                polygon(class="triangle" fill="#A95AA3" stroke="#A95AA3" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                212.799,170.065 145.674,201.23 179.236,246.78   ")
                polygon(class="triangle" fill="#A057A2" stroke="#A057A2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                212.799,170.065 126.496,71.775 145.674,201.23   ")
                polygon(class="triangle" fill="#5F4E8E" stroke="#5F4E8E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                174.442,771.795 148.071,755.014 13.821,886.865  ")
                polygon(class="triangle" fill="#97569F" stroke="#97569F" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                191.224,421.785 116.906,253.972 11.423,333.084  ")
                polygon(class="triangle" fill="#8C549C" stroke="#8C549C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                191.224,421.785 11.423,333.084 44.986,438.565   ")
                polygon(class="triangle" fill="#99559E" stroke="#99559E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                145.674,201.23 126.496,71.775 85.741,184.449  ")
                polygon(class="triangle" fill="#685092" stroke="#685092" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                148.071,755.014 109.714,663.914 95.33,683.094   ")
                polygon(class="triangle" fill="#8A5198" stroke="#8A5198" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                184.032,-4.94 140.879,-55.283 126.496,71.775  ")
                polygon(class="triangle" fill="#A358A2" stroke="#A358A2" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                179.236,246.78 145.674,201.23 116.906,253.972   ")
                polygon(class="triangle" fill="#885097" stroke="#885097" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                140.879,-55.283 56.973,52.596 126.496,71.775  ")
                polygon(class="triangle" fill="#90539B" stroke="#90539B" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                126.496,71.775 78.549,76.569 85.741,184.449   ")
                polygon(class="triangle" fill="#785196" stroke="#785196" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                136.084,594.393 44.986,438.565 35.397,615.968   ")
                polygon(class="triangle" fill="#604E8E" stroke="#604E8E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                148.071,755.014 95.33,683.094 13.821,886.865  ")
                polygon(class="triangle" fill="#9C569F" stroke="#9C569F" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                145.674,201.23 85.741,184.449 116.906,253.972   ")
                polygon(class="triangle" fill="#8A5198" stroke="#8A5198" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                126.496,71.775 56.973,52.596 78.549,76.569  ")
                polygon(class="triangle" fill="#7D4D93" stroke="#7D4D93" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                140.879,-55.283 83.344,-131.998 56.973,52.596   ")
                polygon(class="triangle" fill="#715094" stroke="#715094" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                136.084,594.393 35.397,615.968 109.714,663.914  ")
                polygon(class="triangle" fill="#754B90" stroke="#754B90" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                83.344,-131.998 -38.92,-141.587 56.973,52.596   ")
                polygon(class="triangle" fill="#5D4B8A" stroke="#5D4B8A" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                95.33,683.094 -149.197,759.808 13.821,886.865   ")
                polygon(class="triangle" fill="#93549D" stroke="#93549D" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                116.906,253.972 85.741,184.449 11.423,333.084   ")
                polygon(class="triangle" fill="#835198" stroke="#835198" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                44.986,438.565 11.423,333.084 -7.755,395.414  ")
                polygon(class="triangle" fill="#794C92" stroke="#794C92" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                56.973,52.596 -38.92,-141.587 21.013,64.583   ")
                polygon(class="triangle" fill="#875199" stroke="#875199" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                85.741,184.449 -62.894,265.958 11.423,333.084   ")
                polygon(class="triangle" fill="#865097" stroke="#865097" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                85.741,184.449 -29.331,172.462 -62.894,265.958  ")
                polygon(class="triangle" fill="#604B8A" stroke="#604B8A" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                95.33,683.094 -127.621,680.696 -149.197,759.808   ")
                polygon(class="triangle" fill="#6C4F92" stroke="#6C4F92" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                109.714,663.914 35.397,615.968 95.33,683.094  ")
                polygon(class="triangle" fill="#734A90" stroke="#734A90" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                21.013,64.583 -38.92,-141.587 -106.045,-9.734   ")
                polygon(class="triangle" fill="#724F92" stroke="#724F92" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                44.986,438.565 -77.277,558.433 35.397,615.968   ")
                polygon(class="triangle" fill="#8A5199" stroke="#8A5199" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                85.741,184.449 78.549,76.569 21.013,64.583  ")
                polygon(class="triangle" fill="#885098" stroke="#885098" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                85.741,184.449 21.013,64.583 -29.331,172.462  ")
                polygon(class="triangle" fill="#674D8E" stroke="#674D8E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                95.33,683.094 35.397,615.968 -127.621,680.696   ")
                polygon(class="triangle" fill="#864F97" stroke="#864F97" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                78.549,76.569 56.973,52.596 21.013,64.583   ")
                polygon(class="triangle" fill="#654B8C" stroke="#654B8C" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                35.397,615.968 -94.059,606.38 -127.621,680.696  ")
                polygon(class="triangle" fill="#714D91" stroke="#714D91" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                44.986,438.565 -115.635,476.923 -77.277,558.433   ")
                polygon(class="triangle" fill="#784F94" stroke="#784F94" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                44.986,438.565 -7.755,395.414 -115.635,476.923  ")
                polygon(class="triangle" fill="#6A4C8E" stroke="#6A4C8E" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                35.397,615.968 -77.277,558.433 -94.059,606.38   ")
                polygon(class="triangle" fill="#7D4D94" stroke="#7D4D94" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                21.013,64.583 -96.456,129.31 -29.331,172.462  ")
                polygon(class="triangle" fill="#774B92" stroke="#774B92" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                21.013,64.583 -106.045,-9.734 -96.456,129.31  ")
                polygon(class="triangle" fill="#554885" stroke="#554885" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="               13.821,886.865 -149.197,759.808 -213.925,850.906  ")
                polygon(class="triangle" fill="#815097" stroke="#815097" stroke-width="2.3973" stroke-linejoin="round" stroke-miterlimit="1" points="                11.423,333.084 -62.894,265.958 -7.755,395.414   ")

            .row#crud
                div(class="col-sm-3", style="left: 5%;")
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    h1
                        strong Taquilla
                    br
                    a.btn.btn-primary.btn-lg(href="/taquilla", id="buttons") Acceder
                div(class="col-sm-3", style="left: 5%;")
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    h1
                        strong Carameleria
                    br
                    a.btn.btn-primary.btn-lg(href="/Carameleria", id="buttons") Acceder
                div(class="col-sm-3",style="left: 5%;")
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    h1
                        strong Gerente
                    br
                    a.btn.btn-primary.btn-lg(href="/Gerente", id="buttons") Acceder
                div(class="col-sm-1",style="left: 5%;")
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    h1 
                        strong Jefe
                    br
                    a.btn.btn-primary.btn-lg(href="/Jefe", id="buttons") Acceder


