extends layout

block content
    div(id="container", style="padding-bottom:45%;")
            div(class="row" style="max-width: 100%; ")
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Crear Sede
                                br
                                a.btn.btn-primary.btn-lg(href="/CSede", id="buttons") Acceder
                    div(class="col-sm",align="center")
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                h1
                                    strong Crear Sala
                                br
                                a.btn.btn-primary.btn-lg(href="/Csala", id="buttons") Acceder     